<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Server" value="Test"/>
    <add key="TimerInterval" value="1000"/>
    <add key="SmtpServer" value=""/>
    <add key="ServiceMailName" value="JobLiteService"/>
    <add key="ServiceMail" value=""/>
    <add key="ServiceMailPassword" value=""/>
    <add key="ExceptionMailTo" value=""/>
  </appSettings>
</configuration>